@model IEnumerable<QandAn.Models.Question>

@{
    ViewData["Title"] = "Question List";
}

<h1>Question List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCreator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCreateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
