@model IEnumerable<QandAn.Models.Question>

@{
    ViewData["Title"] = "Question List";
}

<h1>Question list</h1>
<br>
<p>
     <!-- <button type="submit" class="btn btn-primary" value="Create" title="Create new question"><a asp-action="Create">Create</a></button> -->
    <a asp-action="Create">Create new question</a>
</p>
<!-- <form asp-controller="QuestionsAndAnswer" asp-action ="Index">
    <p>
        Title: <input type="text", name="searchString">
        <input type="submit" value="Filter"/>
    </p> 
</form> -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCreateTime)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (item.User.Email == User.Identity.Name)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
